@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Open+Sans&family=Roboto+Mono:wght@200&display=swap');


* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Climate Crisis', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

#contact-title{
    color: azure;
    font-size: 2em;
    display: flex;
    justify-content: center;
}
#contact-section-text-secundary{
    background-color: rgb(16, 58, 86);
    width: auto;
    height: 50em;
}
#contact-py-5{
    width: auto;
    height: 40em;
}
.contact-text {
    display: flex;
    color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
}
.contact-text h3 {
    padding-top: 2em;
}

#contact-information{
    max-width: 100%;
    color: rgb(255, 255, 255);

}
.block-information{
    word-wrap: break-word;
    display: block;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-self: flex-start;
}
#contact-box{
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: flex-start;
    position: relative;
}
.contact-name .label-name {
    color: azure;
    padding-bottom: 15px;
    font-size: 0.em;
}
.contact-mail .label-email {
    color: azure;
    padding-bottom: 15px;
    font-size: 0.9em;
}
.contact-message .label-message {
    color: azure;
    padding-bottom: 15px;
    font-size: 0.9em;
}
.dev-contact-button{
    margin: -8% 0% 0% 34%;
    display: flex;
    align-items: center;
    position: relative;
}
.dev-contact-button .contact-button {
    background-color:transparent;
    width: 6em;
    height: 3em;
    justify-content: center;
    color: azure;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 0.8em;
    transition: .18s;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

#contact-me .contact-button:hover{
    background-color: #FFF;
    color: black;
}
.contact-name #name{
    height: 40%;
    padding: 1vh;
    width: 40em;
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid #fff;
    font-size: 0.7em;
}
.contact-mail #email{
    height: 30%;
    padding: 2vh;
    width: 40em;
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid #fff;
    font-size: 0.7em;
}
.contact-message #message{
    height: 40%;
    padding: 2vh;
    width: 40em;
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid #fff;
    font-size: 0.7em;
}
.contact-address-email{
    height: 20%;
    width: 40em;
    background-color: transparent;
    border-radius: 2px;
    font-size: 1.2em;
    display: flex;
    padding: 2em 1em;
}