@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Open+Sans&family=Roboto+Mono:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Climate Crisis', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.container-card {
    position: relative;
    width: 100%;
    max-width: 80em;
    top: 75px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  
  @media (max-width: 900px) {
    .container-card {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      transition: none;
      margin: 0;
    }
  
    .card {
      height: auto;
      max-width: 100%;
      transition: none;
      justify-content: center;
      display: flex;
    }
  }
  
  .section-projects {
    height: 100%;
    width: 100%;
    background-color: rgb(47, 47, 47);
  }
  
  .text-card {
    padding-top: 4em;
    margin: 0 auto;
    width: auto;
    max-width: 80em;
    position: relative;
    display: flex;
    color: rgb(255, 255, 255);
  }
  
  .card {
    display: flex;
    height: 40em;
    width: 80em;
    background-color: rgb(41, 171, 226);
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #0003;
    margin-left: -50px;
    transition: 0.4s ease-out;
    position: relative;
  }
  
  .card:not(:first-child) {
    margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title-card {
    color: #666666;
    font-weight: 500;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  