@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Open+Sans&family=Roboto+Mono:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Climate Crisis', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#header-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background-color: rgb(29, 29, 27);
}

#header-section h2 a {
  background-color: transparent;
  color: azure;
  font-size: 1em;
  display: flex;
}

.navegation a {
  position: relative;
  font-size: 1em;
  color: azure;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navegation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.navegation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

#main-div {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.text {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 4em 0 1em;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 30px 0 20px;
}

.about-me-img {
  order: 1;
  height: auto;
  max-width: 100%;
}

.about-me-img img {
  height: auto;
  max-width: 100%;
}

@media (max-width: 900px) {
  .about-me-img {
    display: none;
  }
}

.about-me {
  display: flex;
  flex-direction: column;
  margin: 5em 5px;
  max-width: 46rem;
}

.about-me h1 {
  font-size: 50px;
  color: rgb(41, 171, 226);
}

.about-me p {
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.social {
  height: 100%;
  width: 100%;
  background-color: rgb(29, 29, 27);
}

#social-section {
  display: flex;
  margin: 4em 0 1em;
  justify-content: center;
  position: relative;
  padding: 80px 0 20px;
}

.center-contaier {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 100em;
}

#center-contaier-text {
  margin: 0 0 2em 0;
}

#center-contaier-text h1 {
  font-size: 1.87em;
  color: rgb(41, 171, 226);
}

#center-contaier-text h2 {
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  margin-top: 1.25em;
}

#center-contaier-text-two {
  margin: 0 0 2em 0;
}

#center-contaier-text-two h1 {
  font-size: 1.87em;
  color: rgb(41, 171, 226);
}

#center-contaier-text-two h2 {
  margin-top: 1em;
  color: rgb(255, 255, 255);
}

.symbol {
  max-width: 100%;
  height: auto;
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
}

.symbol div {
  display: flex;
  height: 6em;
  width: 15em;
  border: solid rgb(60, 60, 59);
  background-color: rgb(29, 29, 27);
  border-radius: 1em;
  justify-content: space-evenly;
  padding: 10px;
}

.symbol-html p, .symbol-css p, .symbol-js p, .symbol-ts p, .symbol-node p, .symbol-php p {
  order: 1;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}

.symbol-databases {
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
}

.text-databases {
  margin-top: 1em;
  color: rgb(255, 255, 255);
}

.symbol-databases div {
  display: flex;
  width: 100%;
  height: 6em;
  max-width: 15em;
  max-height: 6em;
  border: solid rgb(60, 60, 59);
  background-color: rgb(29, 29, 27);
  border-radius: 1em;
  justify-content: space-evenly;
  padding: 10px;
}

.symbol-git p, .symbol-mysql p, .symbol-mdb p {
  order: 1;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}

