@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Open+Sans&family=Roboto+Mono:wght@200&display=swap');

body{
    padding: 0;
    margin: 0;
    height: 0;
    width: 0;
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#section-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
}
#main-div{
background-color: aqua;
}

.section-header, h2{
    padding: 0 ;
    margin: 1em;
    display: flex;
    position: relative; 
}

.section-header, nav{
    padding: 0 ;
    margin: 1em;
    gap: 4em;
    display: flex;
    position: relative;
}
